$color-theme: #064c79;
$color-primary: #0fa3f1;
$color-no-use: #3e8b97;
// font-color
$font-theme: $color-theme;
$font-theme-light: rgba($font-theme, .74);
$font-normal: #101010;
$font-light: #c3c0be;

$border-color: #bbb;
$disabled-color: $font-light;
